a {
  color:#008080;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

a:hover { color:#663399; }

div.wrapper {
	width: 630px;
	margin: auto;
}

div {
	display: block;
}

header {
	text-align: center;
}